.navigation {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background: deepskyblue;
  padding: 0 20px;
}

.brand-name {
  justify-content: flex-start;
}

.nav-buttons {
  justify-content: flex-end;
}

.nav-buttons button {
  margin: 0 10px;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  background: #1565c0;
}
