<h1>Käyttöohjeet</h1>
<h2>Asennusohjeet</h2>
<ol>
    <li>Laita tasaiselle ja kovalle</li>
    <li>Laske tukijalat</li>
    <li>Tulpat kiinni</li>
    <li>Täytä palju</li>
</ol>

<h2>Paljun lämmitys</h2>
<ol>
    <li>Aloita vasta kun palju on täytetty</li>
    <li>Paljun lämmitys kestää 2-3h</li>
    <li>Muista sekoittaa välillä</li>
</ol>

<h2>Kylpeminen</h2>
<ol>
    <li>Sopiva vesi noin 37 astetta</li>
    <li>Paljussa ei panna!</li>
</ol>

<h2>Tyhjennys</h2>
<ol>
    <li>Irrota pohjatulppa</li>
    <li>Tarvittaessa pese palju</li>
</ol>