<ng-container *ngIf="companies && companies.length > 0">
    <ng-container *ngFor="let company of companies">

        <!-- TODO: Tähän tabsit joka companylle, jota löytyy. 
        Samalla myös tee alla olevasta oma template ja sinne syötetään aina company -->


        <div fxLayout="column" fxLayoutAlign="space-around center">

            <ng-container *ngIf="editForm.dirty">
                <strong>HUOMIO</strong>Olet tehnyt muutoksia. Muista tallentaa
            </ng-container>
    

            <form #editForm="ngForm" id="editForm" (ngSubmit)="updateCompany(company)">
                <h1>{{company.companyName}}</h1>
    
                <mat-form-field appearance="fill">
                    <textarea matInput [(ngModel)]="company.city" name="city"></textarea>
                </mat-form-field>
    
                <mat-form-field appearance="fill">
                    <textarea matInput [(ngModel)]="company.introduction" name="introduction"></textarea>
                </mat-form-field>
            </form>


            <div>
                <button [disabled]="!editForm.dirty" form="editForm" mat-raised-button color="primary">Tallenna muutokset</button>
                <button mat-raised-button color="primary" routerLink="/">Takaisin kotisivulle</button>
            </div>
        </div>

    </ng-container>
  
</ng-container>