<mat-toolbar fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-icon-button routerLink="/">
        <mat-icon>home</mat-icon>
    </button>
    <ng-container *ngIf="accountService.currentUser$ | async as user">
        <a routerLink="/admin" routerLinkActive="active">Admin Panel</a>
        <a routerLink="/adcompany-adminmin" routerLinkActive="active">{{user.username | titlecase}} oma sivu</a>
    </ng-container>
    <ng-container *ngIf="(accountService.currentUser$ | async) == null">
        <a routerLink="/login" routerLinkActive="active">Kirjaudu sisään</a>
    </ng-container>
    <ng-container *ngIf="(accountService.currentUser$ | async) != null">
        <button mat-raised-button (click)="this.accountService.logout()">Kirjaudu ulos</button>
    </ng-container>
</mat-toolbar>