<ng-container *ngIf="product">
    <mat-tab-group #tabgroup>
        <mat-tab label="Varausten muokkaus">
            <div fxLayout="column" fxLayoutAlign="space-around center">

                <h1>{{product.name}}</h1>
                <h2>Tulevat Varaukset</h2>
                <app-reservation-table fxFill [reservations]="reservations" [product]="product"></app-reservation-table>
                <div>
                    <button mat-raised-button color="primary" routerLink="/">Takaisin kotisivulle</button>
                </div>
            </div>
        </mat-tab>

        <mat-tab label="Tuotteen tietojen muokkaus">
            <div class="unsaved-changes">
                <p *ngIf="editForm.dirty" class="unsaved-changes">Huomio! Tallentamattomia muutoksia</p>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="space-around center">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateProduct(product)" 
                fxLayout="column" fxLayoutAlign="space-around center" fxFlex=100 fxFlex.gt-sm=50>
                    <h1>{{product.productName}}</h1>

                    <mat-form-field appearance="outline">
                        <mat-label>Nimi: </mat-label>
                        <textarea matInput [(ngModel)]="product.name" name="name"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Varauksen alkuaika: </mat-label>
                        <input matInput type="time" [(ngModel)]="product.reservationStartTime"
                            name="reservationStartTime">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Varauksen loppuaika: </mat-label>
                        <input matInput type="time" [(ngModel)]="product.reservationEndTime" name="reservationEndTime">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Tuotteen kaupunki: </mat-label>
                        <input matInput [(ngModel)]="product.city" name="city">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Esittelyteksti: </mat-label>
                        <textarea matInput [(ngModel)]="product.introduction" name="introduction"></textarea>
                    </mat-form-field>
                    <button form="editForm" mat-raised-button color="primary" [disabled]="!editForm.dirty">
                        Tallenna muutokset
                    </button>
                </form>
                <app-photo-editor [product]="product" (refreshData)="getProduct()" fxFlex=100 fxFlex.gt-sm=50>
                    
                </app-photo-editor>
            </div>
        </mat-tab>

        <ng-container *ngIf="company">
            <mat-tab label="Yrityksen tietojen muokkaus" fxLayout="column" fxLayoutAlign="space-around center">
                <form #companyEditForm="ngForm" id="companyEditForm" (ngSubmit)="updateCompany(company)"
                    fxLayout="column" fxLayoutAlign="space-around center">

                    <ng-container *ngIf="companyEditForm.dirty">
                        <p class="unsaved-changes">Huomio! Tallentamattomia muutoksia</p>
                    </ng-container>


                    <h1>{{company.name}}</h1>
                    <mat-form-field appearance="outline">
                        <mat-label>Nimi: </mat-label>
                        <input matInput [(ngModel)]="company.name" name="name">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Kaupunki: </mat-label>
                        <input matInput [(ngModel)]="company.city" name="city">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Puhelinnumero: </mat-label>
                        <input matInput [(ngModel)]="company.phoneNumber" name="phoneNumber">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Sähköposti: </mat-label>
                        <input matInput [(ngModel)]="company.email" name="email">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Esittely teksti: </mat-label>
                        <textarea matInput [(ngModel)]="company.introduction" name="introduction"></textarea>
                    </mat-form-field>
                    <button [disabled]="!companyEditForm.dirty" form="companyEditForm" mat-raised-button
                        color="primary">Tallenna muutokset
                    </button>
                </form>
            </mat-tab>
        </ng-container>

    </mat-tab-group>
</ng-container>