<ng-container *ngIf="product">
    <div fxLayout="column" fxLayoutAlign="space-between center">
        <h1>{{product.name}}, {{product.city}}</h1>
        <p>{{product.introduction}}</p>

        <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="columns" class="product-info">
            <div fxFlex=100 fxFlex.gt-sm=60  fxLayout="column" fxLayoutAlign="space-around center" >
                <img mat-card-image
                    src="{{product.photos[0] && product.photos[0].url || 'assets/images/default.jpg'}}"
                    alt="Photo of a Product">
                <div fxLayout="row">
                    <a href="/vuokrausehdot" target="_blank">
                        <button mat-stroked-button color="primary" href="">Vuokrausehdot</button>
                    </a>
                    <a href="/kayttoohje" target="_blank">
                        <button mat-stroked-button color="primary" href="">Käyttöohjeet</button>
                    </a>
                </div>
            </div>

            <div fxFlex="100" fxFlex.gt-sm=40 fxLayout="column" fxLayoutAlign="space-around center">
                <mat-card class="calendar">
                    <mat-calendar (selectedChange)="_onSelectedChange($event)" [selected]="selectedDateRange"
                        [dateFilter]="myDateFilter">
                    </mat-calendar>
                </mat-card>

                <ng-container *ngIf="this.selectedDateRange">
                    <p *ngIf="this.selectedDateRange.start"><strong>Aloitusaika:</strong>
                        {{this.selectedDateRange.start.format("dddd" + " " + "D"+ "." + "M" + "." + "YYYY" + " ")}}
                        klo:{{product.reservationStartTime.slice(0, -3)}}
                    </p>
                    <p *ngIf="this.selectedDateRange.end"><strong>Lopetusaika:</strong>
                        {{this.selectedDateRange.end.format("dddd" + " " + "D" + "." + "M" + "." + "YYYY")}}
                        klo:{{product.reservationEndTime.slice(0, -3)}}
                    </p>
                    <p *ngIf="!this.selectedDateRange.end"><strong>Lopetusaika: </strong> Valitse lopetuspäivä kalenterista</p>
                </ng-container>

                <ng-container *ngIf="!this.selectedDateRange">
                    <p><strong>Aloitusaika: </strong> Valitse aloituspäivä kalenterista</p>
                    <p><strong>Lopetusaika: </strong> Valitse lopetuspäivä kalenterista</p>
                </ng-container>


                <button mat-raised-button color="primary" (click)="reserve()">Varaa Palju</button>
            </div>
        </div>
    </div>
</ng-container>