<ng-container *ngIf="product">

    <div fxLayout="column" fxLayoutAlign="space-around center">
        <h1>{{product.productName}}</h1>

        <div fxLayout="row" fxLayoutAlign="space-around center" class="columns">

            <div fxFlex=60 fxLayout="column" fxLayoutAlign="space-around center">
                <p>{{product.city}}</p>
                <p>{{product.introduction}}</p>
                <button mat-raised-button color="primary" routerLink="/">Takaisin kotisivulle</button>
            </div>

            <div fxFlex=40>
                <h2>Varaa palju</h2>
                <mat-card class="calendar">
                    <mat-calendar (selectedChange)="_onSelectedChange($event)"
                    [selected]="selectedDateRange"         
                    [dateFilter]="myDateFilter">
                    </mat-calendar>
                </mat-card>

                <ng-container *ngIf="this.selectedDateRange">
                    <p *ngIf="this.selectedDateRange.start"><strong>Aloitusaika: </strong>{{this.selectedDateRange.start.format("D" + "." + "M" + "." + "YYYY" + " " + "dddd")}}</p>
                    <p *ngIf="this.selectedDateRange.end"><strong>Lopetusaika: </strong>{{this.selectedDateRange.end.format("D" + "." + "M" + "." + "YYYY" + " " + "dddd")}}</p>
                    <p *ngIf="!this.selectedDateRange.end"><strong>Lopetusaika: </strong> Valitse lopetuspäivä</p>
                </ng-container>

                
                <ng-container *ngIf="!this.selectedDateRange">
                    <p><strong>Aloitusaika: </strong> Valitse aloituspäivä</p>
                    <p><strong>Lopetusaika: </strong> Valitse lopetuspäivä</p>
                </ng-container>


                <button mat-raised-button color="primary" (click)="reserve()">Varaa Palju</button>
            </div>
        </div>
    </div>
</ng-container>