<mat-tab-group #tabgroup>
    <mat-tab label="Syötä tiedot">
        <div class="reservation-dialog" fxLayout="column" fxLayoutAlign="space-around center">
            <form #reservationForm="ngForm" id="reservationForm">
                <div fxLayout="column" fxLayoutAlign="space-around center">
                    <mat-form-field appearance="fill">
                        <mat-label>Etunimi</mat-label>
                        <input matInput required [(ngModel)]="reservation.firstName" name="firstName">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Sukunimi</mat-label>
                        <input matInput required [(ngModel)]="reservation.lastName" name="lastName">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Osoite</mat-label>
                        <input matInput required [(ngModel)]="reservation.address" name="address">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Postinumero</mat-label>
                        <input matInput required [(ngModel)]="reservation.postalCode" name="postalCode"
                            [formControl]="postalCode">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Postitoimipaikka</mat-label>
                        <input matInput required [(ngModel)]="reservation.city" name="city">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Puhelinnumero</mat-label>
                        <input matInput required [(ngModel)]="reservation.phoneNumber" name="phoneNumber"
                            [formControl]="phone">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Sähköposti</mat-label>
                        <input matInput [(ngModel)]="reservation.email" name="email" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </form>
            <mat-slide-toggle [(ngModel)]="isChecked">Hyväksyn
                <a target="_blank" [routerLink]="'/vuokrausehdot'">vuokrausehdot</a>
                ja
                <a target="_blank" [routerLink]="'/tietosuojaseloste'">tietosuojaselosteen</a>
            </mat-slide-toggle>
            <button mat-raised-button color="primary" (click)="changeIndex(tabgroup,1)"
                [disabled]="!isChecked || reservationForm.invalid || email.invalid || phone.invalid || postalCode.invalid">
                Siirry vahvistamaan tilaus
            </button>
            <button mat-button color="primary" matDialogClose>Peruuta</button>
        </div>


    </mat-tab>
    <mat-tab label="Vahvista tilaus" [disabled]="!isChecked || !reservationForm.valid">
        <div class="reservation-dialog">
            <p><strong>Nimi: </strong>{{reservation.firstName}} {{reservation.lastName}}</p>
            <p><strong>Puhelinnumero: </strong>{{reservation.phoneNumber}}</p>
            <p><strong>Sähköposti: </strong>{{reservation.email}}</p>
            <p><strong>Osoite: </strong>{{reservation.address}}, {{reservation.postalCode}} {{reservation.city}}
            </p>
            <ng-container *ngIf="data && data.dateRange">
                <p><strong>Alkuaika: </strong>{{data.dateRange.start.format("dddd" + " " + "D" + "." + "M" + "." + "YYYY")}}</p>
                <p><strong>Loppuaika: </strong>{{data.dateRange.end.format("dddd" + " " + "D" + "." + "M" + "." + "YYYY")}}</p>
            </ng-container>
            <button mat-raised-button color="primary" (click)="confirmOrder()">Vahvista tilaus</button>

        </div>
    </mat-tab>
</mat-tab-group>