<ng-container *ngIf="company">

    <div fxLayout="column" fxLayoutAlign="space-around center">
        <h1>{{company.companyName}}</h1>

        <div fxLayout="row" fxLayoutAlign="space-around center">

            <div fxFlex=50 fxLayout="column" fxLayoutAlign="space-around center">
                <p>{{company.city}}</p>
                <p>{{company.introduction}}</p>
                <button mat-raised-button color="primary" routerLink="/">Takaisin kotisivulle</button>
            </div>

            <div fxFlex=50>
                <mat-card class="calendar">
                    <mat-calendar (selectedChange)="_onSelectedChange($event)" [selected]="selectedDateRange">
                    </mat-calendar>
                </mat-card>
            </div>
        </div>
    </div>
</ng-container>